.container {
    display: flex;
    flex: 1;
}
.flex {
    justify-content: center;
}

#header {
    text-align: center;
}
#btn {
    text-align: center;  
}

.frame-border {
    
    padding: 50px;
    border-radius: 5px;
    
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }


  